h1 {
    color: lightpink;
}

img {
    border: 20px solid pink;
}

body {
    background-image: url("badass women.png");
    background-color: palevioletred;
    background-size: 700px;
    color: blueviolet;
    font-size: 30px;
    -webkit-text-stroke: medium;
    -webkit-text-stroke-color: lightpink;
}